/* small screen */
/* hero */
.hero_container {
  display: flex;
  position: relative;

}

.hero_container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero_message {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%, -50%);

  color: rgb(241, 235, 227, .9);
}

.join > a {
  display: block;
  margin-top: 16px;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(241, 235, 227, .9);
  box-shadow: 8px 4px 1px rgba(0, 0, 0, .5);

}

.join > a:hover {
  background-color: rgb(241, 235, 227);
  box-shadow: none;
}

  /* features */
.top_features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 40px;
}

.top_feature {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  grid-template-areas: 
    "t"
    "i"
    "m"
    "l";
  margin: 0 2vh;
}

.top_feature_title {
  grid-area: t;
  text-align: center;
  font-size: 12px;
  margin: 16px;
}

.top_feature_message {
  grid-area: m;
  text-align: center;
  margin: 16px;
}

.top_feature_icon {
  grid-area: i;
  text-align: center;
}

.top_feature_link {
  grid-area: l;
  margin: 16px;
}

.top_feature_link a {
  display: block;
  text-align: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 8px 4px 1px rgba(0, 0, 0, .2);
  background-color: rgb(247, 239, 231);
}

.top_feature_link a:hover {
  box-shadow: none;
}

.top_feature_title, .top_feature_message {
  color: rgb(80, 100, 140);
}

.bi-image-fill, .bi-journal-richtext {
  font-size: 160px;
  color: rgb(30, 90, 140, .4);
}


@media (min-width: 600px) {
  /* hero */
  .hero_container img {
    height: 560px;
  }

  /* features */
  .top_features {
    padding-top: 80px;
  }

  .top_feature {
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
      "t i"
      "m i"
      "l l";
    align-items: center;
    width: 480px;
  }

  .top_feature_title {
    text-align: start;
  }

  .top_feature_message {
    text-align: start;
  }

  .top_feature_icon {
    margin: 16px;
  }
}