/* common */


*{
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  margin: 0;
} 

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}



/* header */
#topbar_container {
  background-color: rgb(30, 90, 140, .2);
}

#topbar_inner_container {
  display: flex;
  justify-content: center;
}

.topbar_title > a {
  font-size: 16px;
  color: rgb(80, 100, 140);
}

.topbar_nav {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  gap: 16px;
/* 
  width: 95%;
  height: 100%; */
}

.topbar_nav > li > a {
  margin: 0 auto;
  width: 50%;
  padding: 16px;

  border-radius: 8px;
  color: rgb(80, 100, 140);
  background-color: rgba(243, 232, 220);
  box-shadow: 8px 4px 1px rgba(0, 0, 0, .5);
}

.topbar_nav > li > a.select {
  box-shadow: none;
  color: rgb(180, 100, 140);

}


/* small screen モバイルサイト */
.dreams_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;

  margin: 80px auto;
}

.dreams_container > h1 {
  text-align: center;
  font-size: 16px;
  padding: 24px;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%, -50%);

  color: rgba(243, 232, 220);
  background-color: rgb(30, 90, 140 , .7) ;

  border-radius: 8px;
  border-style: ridge;
  border-color: rgba(179, 176, 140, 1);
}

#emotions_area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /*flexitem縦並び*/
  width: 100%;
  min-height: 100vh; /*最小表示画面いっぱいでフッター隠す*/
  margin: 0px, 40px;
  flex-wrap: wrap; /* flexitem折り返す*/
  gap: 160px; /* flexitem間の余白 */
  padding: 160px 0px;
  background-color: rgb(30, 90, 140, .2);
}


.emotion_dreams {
  display: flex;
  position: relative;

  width: 90%; /* 小さい画面で横幅いっぱい表示 */
  max-width: 400px; /* 最大横幅 */
  height: 400px;
  /* margin: 16px; */
  flex-direction: column; /* flexitem縦並び */
  justify-content: center; /* flexitemを主軸（縦）に沿って中央揃え */
  align-items: center; /* flexitemを交差軸（横）に沿って中央揃え */
  border-radius: 16px;
  border-style: ridge;
  border-width: 4px;
  border-color: rgba(179, 176, 140, 0.9);
  background-color: rgb(80, 100, 140);
}

.emotion {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%, -50%);

  margin: 0px;
  font-size: 16px;
  padding: 16px;
  color: rgba(243, 232, 220);

  border-radius: 8px;
  border-style: ridge;
  border-color: rgba(179, 176, 140);
  background-color: rgb(140, 90, 140, .7);
}

.dreams {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;

  margin: 56px 0 32px;
  padding: 16px;
  text-align: center;
  
  width: 95%;
  height: 100%;
}

.dreams > li > a {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 16px 8px;
  border-radius: 8px;
  color: rgb(80, 100, 140);
  background-color: rgba(243, 232, 220);
  box-shadow: 8px 4px 1px rgba(0, 0, 0, .5);
}

.dreams > li > a:hover {
  color: rgb(180, 100, 140);
  box-shadow: none;
}


/* medium screen 中くらいのサイト */
@media (min-width: 600px) {

  /* 夢全体 */
  #emotions_area {
    display: flex;
    flex-wrap: wrap; /* flexitem折り返す */
    justify-content: center; /* flexitemを主軸（縦）に沿って中央揃え */
    align-items: center;  /* flexitemを交差軸（横）に沿って中央揃え*/
  }

  /* 各感情 */
  .emotion_dreams {
    display: flex;
    flex-direction: column; /*flexitem縦並び*/
    justify-content: center; /*flexitemを主軸（縦）に沿って中央揃え */
    align-items: center; /*flexitemを交差軸（横）に沿って中央揃え */
  }

}

/* large screen パソコンサイト */
@media (min-width: 1000px) {


  /* 夢全体 */
  #emotions_area {
    /* max-width: 1200px; */
    flex-direction: row; /*flex item横並び*/
  }
}

/* ナビメニュー選んだら */
