/* common */
*{
  box-sizing: border-box;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

body {
  margin: 0;
} 

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/* small screen */
#topbar_container {
  display: none;
}

#topbar_container_mobile {
  display: flex;
  background-color: rgb(30, 90, 140, .2);
}

#topbar_nav_mobile {
  display: flex;
}

#dreams_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px auto;
}

#dreams_container > h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%, -50%);
  
  text-align: center;
  font-size: 16px;
  padding: 16px;
  margin: 0px;

  border-style: ridge;
  border-radius: 8px;
  border-color: rgba(179, 176, 140, 1);
  color: rgba(243, 232, 220);
  background-color: rgb(30, 90, 140 , .7) ;
}

#emotions_area{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 160px;

  width: 100%;
  min-height: 100vh;
  margin: 0px, 40px;
  padding: 104px 0px;
  background-color: rgb(30, 90, 140, .2);
}

.emotion_dreams {
  display: flex;
  position: relative;
  flex-direction: column; 
  justify-content: center;
  align-items: center;

  width: 90%;
  max-width: 400px;
  height: 400px;

  border-style: ridge;
  border-radius: 16px;
  border-color: rgba(179, 176, 140, 0.9);
  background-color: rgb(80, 100, 140);
}

.emotion {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%, -50%);

  margin: 0px;
  padding: 16px;

  border-style: ridge;
  border-radius: 8px;
  border-color: rgba(179, 176, 140);
  background-color: rgb(140, 90, 140, .7);
  color: rgba(243, 232, 220);
  font-size: 16px;
}

.dreams {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  
  width: 90%;
  height: 100%;
  margin: 56px 0 32px;
  padding: 0px;
  text-align: center;
}

.dreams > li > a {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 16px 8px;

  border-radius: 8px;
  color: rgb(80, 100, 140);
  background-color: rgba(243, 232, 220);
  box-shadow: 8px 4px 1px rgba(0, 0, 0, .5);
}

.dreams > li > a:hover {
  color: rgb(180, 100, 140);
  box-shadow: none;
}


/* medium screen */
@media (min-width: 600px) {

  /* topbar */
  #topbar_container_mobile {
    display: none;
  }

  #topbar_container {
    display: block;
    padding: 40px;
    margin-bottom: 160px;
    background-color: rgb(30, 90, 140, .2);
  }

  #topbar_inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topbar_nav {
    display: flex;
    justify-content: space-around;
    gap: 40px;

    margin: 0 auto;
    padding: 0px;
    text-align: center;
  }

  .topbar_nav > li > a {
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    color: rgb(80, 100, 140);
    background-color: rgba(243, 232, 220);
    box-shadow: 8px 4px 1px rgba(0, 0, 0, .2);
  }

  .topbar_nav > li > a:hover {
    color: rgb(180, 100, 140);
    box-shadow: none;
  }

  .topbar_nav > li > a.select {
    box-shadow: none;
    color: rgb(180, 100, 140);
  }

  /* dreams */
  #dreams_container {
    max-width: 640px;
  }

  #emotions_area {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 160px 0px;
  }

  .emotion_dreams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* large screen */
@media (min-width: 1000px) {
  #emotions_area {
    flex-direction: row;
    width: 1200px;
  }
}