/* すべて */
header, ul, footer {
  padding: 60px, 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
}

.container div {
  background-color: aquamarine;
  padding: 32px;
  margin: 8px;
}