/* today_dream, check_dream, past_dream */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  color: rgb(80, 100, 140);
  width: 88%;
}

.error {
  margin: 8px auto 48px;
  color: rgba(140, 90, 140, .7);
  width: 80%;
}

#tags {
  display: none;
}

#tags.show {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto 48px;
  padding: 16px;
  max-width: 320px;
  background-color:rgb(211, 222, 232);
  border-radius: 8px;
  animation-name: fade-in;
  animation-duration: .6s;
}

.button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vh;
  margin-top: 8vh;
}

.radio_label label {
  display: block;
  margin-bottom: 16px;
  cursor: pointer;
  color: rgb(80, 100, 140);
  text-align: start;
}

.radio_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  gap: 8px;
  margin-top: 0;
  margin-left: 2vh;
}

.radio_item {
  text-align: start;
  margin: 0;
}

.radio_item input {
  width: auto;
  box-shadow: none;
  transition: none;
}

.radio_item label {
  display: inline;
}

.radio_title {
  user-select: none;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}


button {
  font-size: 16px;
  color: rgb(80, 100, 140);
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  background-color: rgb(241, 235, 227);
  box-shadow: 8px 4px 1px rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: .3s;
}

button:hover {
  color: rgb(180, 100, 140);
  box-shadow: none;
  transform: translate(4px, 2px);
}

.release_button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#release {
  width: 300px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 16px;
}

.icon.cancel {
  transform: rotate(45deg);
  color: rgb(180, 100, 140);
  animation-name: fade-in;
  animation-duration: .6s;
}

.success {
  display: flex;
  margin: 8px auto;
  animation-name: fade-in;
  animation-duration: .6s;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
}

div + div {
  margin-top: 4vh;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.container h1 {
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}

.bi-award.gold, .bi-tag-fill, .emotion {
  color: rgb(179, 176, 140);
}

.bi-award {
  font-size: 3em;
  vertical-align: middle;
  line-height: 0;
}

.content {
  border-top: dotted rgba(80, 100, 140, .1);
  border-bottom: dotted rgba(80, 100, 140, .1);
  padding: 60px 0;
  font-size: 14px;
}

.info {
  font-size: 12px;
}


/* medium screen */
@media (min-width: 600px) {
  .container {
    width: 90%;
    border-radius: 8px;
  }
}


/* large screen */
@media (min-width: 1000px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .error {
    max-width: 480px;
    margin-left: auto;
    margin-right: 0;
  }

  .radio_label {
    flex: 1;
    margin: 0;
  }
  
  .radio_items {
    flex: 1;
    margin: 0;
  }

  .radio_items label {
    margin-right: 16px;
  }

}


/* safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media, _:future, :root
  .radio_items > div + div
  {
    margin-top: 8px;
  }

  _::-webkit-full-page-media, _:future, :root
  .info > p
  {
    margin-right: 3vh;
  }

  _::-webkit-full-page-media, _:future, :root
  .radio_items > div + div
  {
    margin-top: 8px;
  }
  
  _::-webkit-full-page-media, _:future, :root
  #tags.show.release > div + div
  {
    margin-top: 16px;
  }

  _::-webkit-full-page-media, _:future, :root
  .button button + button
  {
    margin-left: 5vh;
  }

  _::-webkit-full-page-media, _:future, :root
  .button form + form
  {
    margin-left: 5vh;
  }

}